body{
	font-size: 16px;
	text-align: center;

    
}

.content .container{
    width: 100% !important;
    padding: 0;
}
.content{
    padding-top: 150px;
    margin-top: -10px;
        background-image: url(../image/fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
.buscar{

	text-align: center;
    background: rgba(51,51,51,0.7);
    padding: 30px;
    box-shadow: 5px 5px 10px black;
}
.calendar{
	width: 400px;
	margin-left: 15%;

}
#periodo{
	padding-bottom: 10px;
	margin-right: 15px;
}
.react-datepicker-wrapper{
	width: 112px;
	display: inline;
}
.calendario_1{
	margin: 10px;
	font-size: 14px;
}
.calendario_2{
	margin-left: 13px;
	font-size: 14px;
}
.Botones
{
    margin: auto;
	margin-top: 20px;
	text-align: center;

}
.input_nombre{
    display: none;
}
.input_pago{
     display: none !important; 
}
.Buton-contenedor{
	position: relative;
    display: flex;
    flex-direction: row;
}

#busca{
  border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#concepto{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; 
}
.Buton-contenedor a{
	margin-top: 0px;
	width: 90px;
    padding: 10px;
    margin-left: 40px;
}
.Buton-contenedor button{
	width: 90px;
}
.isLoading {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	margin:2% auto;
	padding: 3%;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
.listar{
	margin: 3%;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/* iphone 4 */
@media (max-width: 320px){
.Buton-contenedor a{
	margin-top: 0px;
	width: 80px;
    padding: 5px;
    margin-left: 0px;
}  
    .boton_medio{
        margin-left: 10px !important;
        margin-right: 10px;
    }
.buscar{

    padding: 5px;
    padding-top: 30px;
}
}/*Fin 320*/
@media (min-width: 321px) and (max-width:425px){
.Buton-contenedor a{
	margin-top: 0px;
	width: 80px;
    padding: 5px;
    margin-left: 20px;
} 
.buscar{
    padding-top: 30px;
    padding: 5px;

}
}
/* especial */ 
@media (min-width: 560px) {
.input_nombre{
    display: block;
}
.input_pago{
     display: block !important; 
}
#busca{
  border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
#concepto{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; 
}
}/*Fin 560*/

/* General */
@media (min-width: 768px) {
.content{

}
}/*Fin 768*/

@media (min-width: 992px) {
 .content{


} 
}/*Fin 992*/

@media (min-width: 1200px) {
  
}